@page
@model N_Tier.Frontend.Pages.Authors.IndexModel
@{
    ViewData["Title"] = "Authors";
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    var pageSize = @ViewData["pageSize"];
    var sortString = @ViewData["sortString"] as string;
    var searchString = @ViewData["searchString"] as string;
    var filterDateStart = @ViewData["filterDateStart"];
    var filterDateEnd = @ViewData["filterDateEnd"];
}

<h1>Authors</h1>

@if (User.IsInRole("Administrator") || User.IsInRole("Librarian"))
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Add New Author</a>
    </p>
}

<form method="get">
    <div class="d-flex justify-content-between mb-3">
        <div class="form-inline">
            <div class="input-group ml-3">
                <input id="pageSizeInput" class="form-control" type="number" name="pageSize" value="@pageSize" title="Items Per Page" style="width: 100px; margin-right: 5px;" min="1">

                <input id="myInput" class="form-control" type="search" placeholder="Search" name="SearchString" value="@searchString" aria-label="Search" style="width: 200px;">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex justify-content-between mb-3">
        <div class="form-inline">
            <div class="input-group ml-3">
                <label>Filter by Date of birth: </label>
                <input type="date" class="form-control" placeholder="Pick start date" name="filterDateStart" value="@filterDateStart" style="width: 100px; margin-right: 5px;"></input>
                <input type="date" class="form-control" placeholder="Pick end date" name="filterDateEnd" value="@filterDateEnd" style="width: 100px; margin-right: 5px;"></input>
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="submit">Filter</button>
                </div>
            </div>
        </div>
    </div>

    <input type="hidden" name="sortString" value="@sortString"/>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Authors.ElementAt(0).FirstName)
                    <button type="submit" title="Sort ascending" onclick="changeSort('FirstNameAsc')" style="background: none; border: none;">
                        <i class="bi bi-caret-up-fill"></i>
                    </button>
                    <button type="submit" title="Sort descending" onclick="changeSort('FirstNameDesc')" style="background: none; border: none;">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors.ElementAt(0).LastName)
                    <button type="submit" title="Sort ascending" onclick="changeSort('LastNameAsc')" style="background: none; border: none;">
                        <i class="bi bi-caret-up-fill"></i>
                    </button>
                    <button type="submit" title="Sort descending" onclick="changeSort('LastNameDesc')" style="background: none; border: none;">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Authors.ElementAt(0).DateOfBirth)
                    <button type="submit" title="Sort ascending" onclick="changeSort('DateOfBirthAsc')" style="background: none; border: none;">
                        <i class="bi bi-caret-up-fill"></i>
                    </button>
                    <button type="submit" title="Sort descending" onclick="changeSort('DateOfBirthDesc')" style="background: none; border: none;">
                        <i class="bi bi-caret-down-fill"></i>
                    </button>
                </th>
                <th>About</th>
                @if (User.IsInRole("Administrator") || User.IsInRole("Librarian"))
                {
                    <th>Action</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach(var item in Model.Authors)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateOfBirth)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.About)
                    </td>
                    @if (User.IsInRole("Administrator") || User.IsInRole("Librarian"))
                    {
                        <td>
                            <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                            <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>

</form>

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item">
            <a asp-action="Index"
               asp-route-searchString="@searchString"
               asp-route-pageNumber="@(Model.pageIndex - 1)"
               asp-route-sortString="@sortString"
               asp-route-pageSize="@pageSize"
               asp-route-filterDateStart="@filterDateStart"
               asp-route-filterDateEnd="@filterDateEnd"
               class="btn btn-default page-link @prevDisabled">
                Previous
            </a>
        </li>

        <li class="page-item">
            <a asp-action="Index"
               asp-route-searchString="@searchString"
               asp-route-pageNumber="@(Model.pageIndex + 1)"
               asp-route-sortString="@sortString"
               asp-route-pageSize="@pageSize"
               asp-route-filterDateStart="@filterDateStart"
               asp-route-filterDateEnd="@filterDateEnd"
               class="btn btn-default page-link @nextDisabled">
                Next
            </a>
        </li>
    </ul>
</nav>

<script>
	function changeSort(sortValue) {
		document.querySelector('input[name="sortString"]').value = sortValue;
		document.querySelector('form').submit();
	}
</script>
